.popup {
    position: fixed;
    z-index: 99;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.285);
    .cover {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        .container {
            .header {
                position: absolute;
                top: 0;
                right: 0;

                .popup-close {
                    margin-top: 10px;
                    margin-right: 10px;
                    cursor: pointer;

                    svg {
                        width: 20px;
                    }
                }
            }
        }
    }

}