@import "../variables.scss";


.select-box {
    z-index: 2;
    position: relative;
   &.select-open {
        .select-header {
            svg {
            transform: rotate(180deg) !important;
            }
        }
    }
    .select-header {
        border-radius: 5px;
        cursor: pointer;
        line-height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        text-indent: 12px;
        position: relative;
        z-index: 9;
        transition: all .2s;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-left: 5px;
            fill: gray;
            width: 15px;
            height: 15px;
            transition: all .5s;

        }
        &:hover {
            svg {
                fill: $color-blue1;
            }
            color: $color-blue2;
            border-color: $color-blue2;
        }
    }
    

    .select-content {
        position: absolute;
        left: 0;
        right:0;
        padding: 0;
        transition: all .2s;
        border-radius: 4px !important;
        margin-top: 10px !important;
       
        ul {
            margin: 5px 15px;
            li {
                margin: 10px 0;
                border-radius: 5px;
                cursor: pointer;
                list-style: none;
                font-size: 14px;
                padding: 5px;
                &:hover {
                    background: $color-blue3;
                    color: $color-blue2;
                }
            }
        }
    }
}
