.table-toolbar {
    box-shadow: 0px 3px 6px 0px rgba(51, 51, 51, 0.1);
    z-index: 10;
    margin-bottom: 16px !important;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        
    }
    .right {
        .search {
            margin-right: 10px;
            margin-bottom: 0;
        }
        .flex {
            align-items: flex-end;
            display: flex;
        }
    }
}