@import "../variables.scss";
.categories-panel {
    height: 100%;
    .cover {
        padding: 0;
        margin: 0;
        .panel-top {
            margin: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                max-width: 28px;
                max-height: 28px;
                cursor: pointer;
            }
        }
    }
   
}