.exam {
    display: flex;
    height: 100%;
    .exam-left {
    overflow: scroll;

        width: 30%;

        .cover {
            height: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

        }
    }

    .exam-right {
    overflow: scroll;

        height: 100%;
        width: 100%;

        .cover {
            height: 100%;
            overflow: hidden;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

}