.layout-center {
    display: flex;
    justify-content: center;

    & > * {
        @apply mx-auto;
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.bg-img-center {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

[local-btn-dropdown-toggle] {
    position: relative;
    &:hover {
        // background-color: red;
        & [local-data-dropdown-toggle] {
            display: block;
        }
        &::before {
            content: '';
            position: absolute;
            top: 98%;
            left: 0;
            width: 100%;
            height: 50px;
            // background-color: red;
        }
    }
}

.container-drag {
    & > * {
        border-radius: 3px;
        border: 1px solid #dedede;
        box-shadow: -2px 2px 5px #00000020;
    }
}
