@import '../variables.scss';

.nav-list {
    padding-left: 24px;
    margin-top: 44px;

    ul {
        .nav-item {
            font-size: 14px;
            margin-top: 8px;
            list-style: none;

            a {
                display: block;
                padding-left: 19px;
                display: block;
                height: 48px;
                line-height: 48px;

                &:hover span {
                    color: $color-blue2;
                }

                img {
                    vertical-align: middle;
                    margin-right: 8px;
                }

                span {
                    color: $font-color;
                    vertical-align: middle;
                }
            }

            .selected {
                position: relative;
                background-color: $color-white1;
                border-radius: 50px 0 0 50px;

                span {
                    color: $color-blue2 !important;
                    font-weight: bold;

                }

                ::before {
                    content: "";
                    background-color: #ffffff;
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateY(-100%);
                    border-radius: 50%;
                }

                ::after {
                    content: "";
                    background-color: #f3f4f8;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translateY(100%);
                }

            }

            .selected::before {
                content: "";
                background-color: #f3f4f8;
                width: 24px;
                height: 24px;
                position: absolute;
                right: 0;
                top: 0;
                transform: translateY(-100%);
            }

            .selected::after {


                content: "";
                background-color: #ffffff;
                width: 48px;
                height: 48px;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateY(100%);
                border-radius: 50%;
            }
        }
    }

}