@import "../variables.scss";
body {
    font-family: 'Arial', sans-serif;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f3f4f8;
}

* {
    font-weight: 500;
    padding: 0;
    margin: 0;
}
a {
    cursor: pointer;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0px;
}


